<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{SCRIPT_FILENAME} !-f 
	RewriteCond %{SCRIPT_FILENAME} !-d

	ErrorDocument 404 /index.php?pagina=404
	RewriteRule ^eletrokassio/?$ index.php?pagina=index [QSA]
	RewriteRule ^([a-z0-9\-]+)$ index.php?pagina=$1 [QSA]
	RewriteRule ^postagem\/?([a-z,0-9,A-Z,_-]+)\/?(.*)$ index.php?pagina=postagem&info1=$1

	
</IfModule>

	#RewriteRule ^(.*)$ index.php?pagina=$1
	#RewriteRule ^([a-z,0-9,A-Z,_-]+)\/?$ index.php?pagina=$1 
	#RewriteRule ^([a-z0-9\-]+)$ index.php?pagina=$1 [QSA]
	#RewriteRule ^postagem\/?([a-z,0-9,A-Z,_-]+)\/?([a-z,0-9,A-Z,_-]+)\/?([a-z,0-9,A-Z,_-]+)\/?$ index.php?pagina=postagem&info1=$1&info2=$2&info3=$3

<FilesMatch ".(htm|html|css|js)$">
	AddDefaultCharset UTF-8
</FilesMatch>
<Files ~ "^\.(htaccess|htpasswd)$">
  deny from all
</Files>