@import url('https://fonts.googleapis.com/css?family=Exo+2|Exo:200,300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
#clear { /*para manter conteúdo float a cima*/
    clear: both;
}
* {
	margin: 0 auto;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	text-decoration: none;
}
body {
	color: #a48d66;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	text-align: center;
	font-weight: 300;
}
input:focus, textarea:focus {
	outline: 0 none;
}
textarea {
   resize: both; /* Permite que o textarea possa ser extendido em ambos os eixos */
   resize: horizontal; /* Permite que o textarea possa ser extendido apenas horizontalmente */
   resize: vertical; /* Permite que o textarea possa ser extendido apenas verticalmente */
   resize: none; /* Desabilita o extendimento do textarea */
} 
input.submit {
	cursor: pointer;
}
h1, h2, h3, h4, b {
	font-weight: 200;
	font-family: 'Exo', sans-serif;
}
b {
	font-weight: 600;
}
h2 {
	font-size: 21px;
	padding-bottom: 60px;
}
b {
	font-weight: 500;
	font-size: 16px;
	color: #c3522f;
}
.conteudo {
    max-width: 1200px;
    width: 100%;
    padding: 0px 3% 0px 3%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
section {
	width: 100%;
	margin-top: 70px;
}
section h1 {
	font-size: 30px;
	color: #3c7025;
	font-weight: 300;
	width: 100%;
	text-align: left;
	background-image: url('../images/relampago.png');
	background-position: center left;
	padding: 20px 0 20px 70px;
}
/* HEADER */
#topo {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 300;
}
#topo a.logo {
	margin: 20px 0;
	float: left;
	position: relative;
	margin-bottom: -200px;
	left: 0;
}
.top-topo {
	border-bottom: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #a0ff9f 0%, #fcc802 50%, #a0ff9f 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #fcc802 0%, #a0ff9f 50%, #fcc802 100%);
    border-image-slice: 1;
	float: right;
	width: 80%;
	height: 80px;
	margin-bottom: -200px;
}
.top-topo form {
	float: left;
	margin: 20px 0 0 50px;
	width: 50%;
}
.top-topo form input {
	border: none;
	border-left: 3px solid #4db94d;
	border-bottom: 3px solid #4db94d;
	border-radius: 5px;
	padding: 10px 10px;
	max-width: 380px;
	width: 100%;
	color: #4db94d;
	font-weight: 500;
	float: left;
}
.top-topo form input:focus {
	border-left: 3px solid #ff9333;
	border-bottom: 3px solid #ff9333;
}
.top-topo form input.submit {
	border: none;
	padding: 0;
	width: 35px;
	height: 35px;
	background-color: white;
	background-image: url('../images/icon-busca.png'); 
	margin-left: -45px;
	zoom: 80%;
}
.top-topo form input.submit:hover {
	zoom: 85%;
	margin-left: -43px;
}
.carrinho {
	float: left;
	display: inline-block;
	margin-top: 10px;
}
.carrinho p {
	color: #ff9333;
	float: left;
	display: inline-block;
	text-align: left;
	font-size: 13px;
	font-weight: 400;	
	margin-top: 7px;
}
.carrinho a {
	background-image: url("../images/icon-carrinho.png");
	padding: 20px;
	float: left;
	display: inline-block;
	margin-left: 10px;
}
.carrinho a p {
	padding-top: 4px;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 100px;
	font-size: 9px;
	background-color: #4db94d;
	color: #fff;
	margin-left: 25px;
	margin-top: 6px;
}
.carrinho a:hover p {
	background-color: #80ff80;
	color: #ff9333;
	font-weight: bold;
}
.login-minhaobra {
	float: right;
	width: 180px;
	height: 270px;
	background-color: #80ff80;
	background-image: url('../images/logo-minha-obra.png');
	background-size: 55%;
	background-position:  center 15px;	
	margin-bottom: -110px;
	position: relative;
	z-index: 5;
}
.login-minhaobra p {
	font-size: 12px;
	font-weight: 400;
	color: #4db94d;
	position: relative;
	top: 235px;
	background-image: url('../images/icon-user.png');
	margin: 0 0 0 25px;
	padding: 1px 0 30px 0;
}
.login-minhaobra p a {
	color: #4db94d;
}
.login-minhaobra p a:hover {
	color: #338033;
}
/* #############  SLIDE  ############# */
.slide .li-slide  {
	position: relative;
	min-height: 400px;
	width: 33%;
	height: 100%;
	!important top: 0;
	!important left: 0;
	background-position: center center;
	background-size: cover;
	background-color: #4db94c;
	color: white;
	border-bottom: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #fcc802 0%, #fdc801 50%, #fcc802 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #a0ff9f 0%, #fcc802 50%, #a0ff9f 100%);
    border-image-slice: 1;
}
.cont-slide {
	float: left;
	top: 0;
	float: right;
	min-width: 350px;
	width: 35%;
	margin-right: 15%;
	margin-top: 100px;
	text-align: left;
}
.cont-slide h1 {
	font-size:35px;
}
.cont-slide p {
	font-size: 16px;
	margin: 10px 0 20px 0;
}
.cont-slide a {
	color: white;
	float: left;
	text-decoration: none;
	border: 2px solid white;
	background-color: none;
	padding: 5px 10px;
}
.cont-slide a:hover {
	color: #888;
	background-color: white;
	padding: 5px 10px;
}
.slide {
	position: relative;
	overflow: auto;
}
.slide li {
	list-style: none;
}
.slide ul {	
	position: relative;
	top: 0;
	left:0;
	padding:0;
	margin: 0;
}
.slide ul li {
	display: block;
	float: left;
	width: 33%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	position: relative;
	top: 0;
	left:0;
	margin: 0;
}
.slide .dots {
	position: relative;
	left: 0;
	right: 0;
	bottom: 30px;
	text-align: right;
	width: 100%;
	max-width: 1200px;
	padding: 0 5%;
	margin: 0 auto;
	height: 30px;
}
.slide .dots li {
	display: inline-block;
	width: 50px;
	height: 7px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 0px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
	color: rgba(255,255,255,0);
}
.slide .dots li.active {
	background: #fff;
	opacity: 1;
}
/* #############  section. CATEGORIAS DESTAQUE  ############# */
.cat-destaque .item a h2,
.prod-destaque .item a h4 {
	color: #ff9333;
	font-weight: 300;
	float: left;
	margin: 0 10%;
	margin-top: 20px;
	width: 80%;
	text-align: center;
	padding: 5px 0 10px 0;
	border-bottom: 3px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, #fcc802 0%, #fdc801 100%);
	-webkit-border-image: -webkit-linear-gradient(right, #a0ff9f 0%, #fcc802 100%);
	border-image-slice: 1;
	font-size: 20px;
}
.cat-destaque .item a:hover > h2, 
.prod-destaque .item a:hover > h4 {
	font-weight: 500;
}
.prod-destaque .item a h2 {
	margin: 0;
	float: left;
	padding: 0;
	width: 80%;
	text-align: left;
	padding: 5px 0 5px 0;
	margin: 0 10%;
	font-weight: 500;
	color: #3c7025;
}

.prod-destaque .item a h2:hover {
	font-weight: 700;
}
.prod-destaque .item a h4 {
	font-size: 13px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	border: none;
	color: #3c7025;
}
.prod-destaque .item {
	border: 1px solid #fdc801;
	float: left;
	padding: 50px 20px;
	width: 90%;
	margin: 0 5%;
}
/* #############     minhaobra     ############# */
.minhaobra.top {
	background-color: #fff;
	border: none;
	margin-top: 70px;
	height: auto;
	background-position: 44% bottom;
	background-image: url('../images/img-minhaobra.png');
	background-size: auto 100%;
	border-bottom: 30px solid #4db94d;
	margin-bottom: -30px;
}

.minhaobra.top .conteudo {
	background-image: url('../images/logo-minha-obra.png');
	background-position: 100px 10px;
	background-size: auto 250px;
}
.minhaobra.top .conteudo p {
	float: right;
	display: inline-block;
	width: 28%;
	text-align: left;
	font-size: 13px;
	line-height: 22px;
	color: #4db94d;
	font-weight: 400;	
	margin-bottom: 20px;
}
.minhaobra {
	background-color: #4db94d;
	height: auto;
	border-top: 20px solid #80ff80;
	border-bottom: 20px solid #80ff80;
	margin-top: 30px;
}
.minhaobra .video {
	width: 100%;
	max-width: 600px;
	min-height: 340px;
	height: 100%;
	margin: 10px auto;
}
/* #############       blog        ############# */
.blog {
}
.blog blockquote {
	width: 31%;
	margin: 0 1%;
	margin-top: 50px;
	display: inline-block;
	border: 1px solid #ff9333;
	min-width: 340px;
}
.blog blockquote img {
	width: 100%;
	max-height: 190px;
	min-height: 190px;
}
.blog blockquote h2 {
	color: #3c7025;
	font-weight: 400;
	float: left;
	margin: 0 3%;
	margin-top: 20px;
	width: 80%;
	text-align: left;
	padding-bottom: 20px;
	font-size: 20px;
}
.blog blockquote a {
	color: #ff9333;
	font-weight: 100;
	float: left;
	font-size: 50px;
	margin-top: 10px;
}
.blog blockquote a:hover {
	font-weight: 400;
	margin-left: -0.5px;
}
/* #############    newsletter     ############# */
.newsletter {
	background-color: #4db94d;
	height: 250px;
}
.newsletter .conteudo {
	background-image: url('../images/newslleter.jpg');
	background-size: auto 100%;
	background-position: 5% 0;
	height: 100%;
	padding-left: 420px;
}
.newsletter .conteudo img {
	float: left;
	max-height: 250px;
	width: auto;
}
.newsletter form {
	float: left;
	background-image: url('../images/detalhe-news.png');
	background-size: auto 100%;
	min-height: 250px;
	padding-left: 190px;
	display: inline-block;
	width: 98%;
	font-family: 'Exo', sans-serif;
}
.newsletter form h2 {
	width: 100%;
	color: white;
	margin-top: 30px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 30px;
	text-align: left;
}
.newsletter form input {
	width: 100%;
	padding: 10px 5%;
	margin: 5px 0;
	float: left;
	font-family: 'Exo', sans-serif;
	color: #409540;
	border: 2px solid white;
}
.newsletter form input:focus {
	letter-spacing: 1px;
}
.newsletter form input.submit {
	width: 100px;
	float: right;
	border: 2px solid white;
	background-color: rgba(0,0,0,0);
	color: white;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.newsletter form input.submit:hover {
	background-color: white;
	color: #409540;
}
/* #############    localização    ############# */
.mapa {
	margin-top: 50px;
}
/* #############      footer      ############# */
footer {
	background-color: #4db94d;
	height: auto;
	border-top: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #fcc802 0%, #fdc801 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #a0ff9f 0%, #fcc802 100%);
    border-image-slice: 1;
    margin-top: -5px;
	padding: 80px 0;
}
footer .conteudo {
	padding-left: 10px;
	padding-right: 10px;
}
footer div.container {
	height: 100%;
	min-height: 100px;
	display: inline-block;
	float: left;
}
footer div.container img.logo {
	width: 85%;
	float: left;
	max-width: 250px;
}
footer div.container.ma {
	width: 26%;
	padding: 0 2% 0 0;
}
footer div.container.me {
	width: 22%;
}
footer .fb-page {
	width: 90%;
	float: left;
}
footer .mail span, footer .fone span, footer .local span {
	border-bottom: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #fcc802 0%, #fdc801 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #a0ff9f 0%, #fcc802 100%);
    border-image-slice: 1;
    width: 100%;
    height: 65px;
    float: left;
    background-position: 0 0;
}
footer .mail span {
    background-image: url('../images/icon-email.png');
    margin-top: 80px;
}
footer .local span {
    background-image: url('../images/icon-local.png');
    margin-top: 30px;
}
footer .fone span {
    background-image: url('../images/icon-telefone.png');
}
footer .mail p, footer .fone p, footer .local p {
    float: left;
    color: white;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}
footer .fone p {
	font-size: 35px;
}
footer form {
	float: right;
	width: 90%;
	text-align: left;
}
footer form h2 {
	float: left;
	width: 100%;
	font-size: 28px;
	color: white;
	margin: 0 0 20px 0;
	padding: 0;
}
footer form input, footer form textarea {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 5px;
	border: 0;
	font-size: 12px;
	border: 2px solid white;
	color: #3c7025;
}
footer form textarea {
	height: 130px;
}
footer form input:hover, footer form textarea:hover, footer form input:focus, footer form textarea:focus {
	border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #fcc802 0%, #fdc801 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #a0ff9f 0%, #fcc802 100%);
    border-image-slice: 1;
    outline: 0 none;
}
footer form input.submit {
	border: 0;
	background-color: #fdc801;
	color: white;
	max-width: 100px;
	border-radius: 3px;
	font-size: 16px;
	float: right;
	margin-top: -55px;
	margin-right: 5px;
}
footer form input.submit:hover {
	background-color: #ff9333;
	cursor: pointer;
}