@import url('https://fonts.googleapis.com/css?family=Exo+2|Exo:200,300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
#clear { /*para manter conteúdo float a cima*/
    clear: both;
}
* {
	margin: 0 auto;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	text-decoration: none;
}
body {
	color: #a48d66;
	font-family: 'Roboto', sans-serif;
	background-color: white;
	text-align: center;
	font-weight: 300;
}

h1, h2, h3, h4, b {
	font-weight: 200;
	font-family: 'Exo', sans-serif;
}
b {
	font-weight: 600;
}
h2 {
	font-size: 21px;
	padding-bottom: 60px;
}
b {
	font-weight: 500;
	font-size: 16px;

	color: #c3522f;
}

header {
	height: auto;
}
header a.logo {
	margin: 20px 0;
	float: left;
}
nav {
	max-width: 700px;
	width: 100%;
	margin-top: 80px;
	float: right;
}
nav ul {
	float: right;
}
nav ul li {
	float: left;
	display: inline-block;
	margin: 0 0 0 15px;
}
.conteudo {
    max-width: 1200px;
    width: 100%;
    padding: 0px 5% 0px 5%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
section {
	width: 100%;
	margin-top: 70px;
}
section h1 {
	font-size: 30px;
	color: #3c7025;
	font-weight: 300;
	width: 100%;
	text-align: left;
	background-image: url('../images/relampago.png');
	background-position: center left;
	padding: 20px 0 20px 70px;
}
/* #############  SLIDE  ############# */
.slide .li-slide  {
	position: relative;
	min-height: 400px;
	width: 33%;
	height: 100%;
	!important top: 0;
	!important left: 0;
	background-position: center center;
	background-size: cover;
	background-color: #4db94c;
	color: white;
	border-bottom: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #fcc802 0%, #fdc801 50%, #fcc802 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #a0ff9f 0%, #fcc802 50%, #a0ff9f 100%);
    border-image-slice: 1;
}
.cont-slide {
	float: left;
	top: 0;
	float: right;
	min-width: 350px;
	width: 35%;
	margin-right: 15%;
	margin-top: 100px;
	text-align: left;
}
.cont-slide h1 {
	font-size:35px;
}
.cont-slide p {
	font-size: 16px;
	margin: 10px 0 20px 0;
}
.cont-slide a {
	color: white;
	float: left;
	text-decoration: none;
	border: 2px solid white;
	background-color: none;
	padding: 5px 10px;
}
.cont-slide a:hover {
	color: #888;
	background-color: white;
	padding: 5px 10px;
}
.slide {
	position: relative;
	overflow: auto;
}
.slide li {
	list-style: none;
}
.slide ul {	
	position: relative;
	top: 0;
	left:0;
	padding:0;
	margin: 0;
}
.slide ul li {
	display: block;
	float: left;
	width: 33%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	position: relative;
	top: 0;
	left:0;
	margin: 0;
}
.slide .dots {
	position: relative;
	left: 0;
	right: 0;
	bottom: 30px;
	text-align: right;
	width: 100%;
	max-width: 1200px;
	padding: 0 5%;
	margin: 0 auto;
	height: 30px;
}
.slide .dots li {
	display: inline-block;
	width: 50px;
	height: 7px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 0px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
	color: rgba(255,255,255,0);
}
.slide .dots li.active {
	background: #fff;
	opacity: 1;
}
/* #############  section. CATEGORIAS DESTAQUE  ############# */
.cat-destaque .item a h2,
.prod-destaque .item a h4 {
	color: #ff9333;
	font-weight: 300;
	float: left;
	margin: 0 10%;
	margin-top: 20px;
	width: 80%;
	text-align: center;
	padding: 5px 0 10px 0;
	border-bottom: 3px solid transparent;
	-moz-border-image: -moz-linear-gradient(left, #fcc802 0%, #fdc801 100%);
	-webkit-border-image: -webkit-linear-gradient(right, #a0ff9f 0%, #fcc802 100%);
	border-image-slice: 1;
	font-size: 20px;
}
.cat-destaque .item a:hover > h2, 
.prod-destaque .item a:hover > h4 {
	font-weight: 500;
}
.prod-destaque .item a h2 {
	margin: 0;
	float: left;
	padding: 0;
	width: 80%;
	text-align: left;
	padding: 5px 0 5px 0;
	margin: 0 10%;
	font-weight: 500;
	color: #3c7025;
}

.prod-destaque .item a h2:hover {
	font-weight: 700;
}
.prod-destaque .item a h4 {
	font-size: 13px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	border: none;
	color: #3c7025;
}
.prod-destaque .item {
	border: 1px solid #fdc801;
	float: left;
	padding: 50px 20px;
	width: 90%;
	margin: 0 5%;
}
/* #############     minhaobra     ############# */
.minhaobra {
	background-color: #4db94d;
	height: 400px;
	border-top: 20px solid #80ff80;
	border-bottom: 20px solid #80ff80;
	margin-top: 30px;
}
.minhaobra.top {
	background-color: #fff;
	border: none;
	margin-top: 70px;
	height: auto;
	height: 400px;
	background-position: center;
	background-image: url('../images/img-minhaobra.png');
}
.minhaobra.top .conteudo {
	height: 300px;
	background-image: url('../images/logo-minha-obra.png');
	background-position: 100px;
}
/* #############       blog        ############# */
.blog {
}
.blog blockquote {
	width: 31%;
	margin: 0 1%;
	margin-top: 50px;
	display: inline-block;
	border: 1px solid #ff9333;
}
.blog blockquote img {
	width: 100%;
	max-height: 190px;
	min-height: 190px;
}
.blog blockquote h2 {
	color: #3c7025;
	font-weight: 400;
	float: left;
	margin: 0 3%;
	margin-top: 20px;
	width: 80%;
	text-align: left;
	padding-bottom: 20px;
	font-size: 20px;
}
.blog blockquote a {
	color: #ff9333;
	font-weight: 100;
	float: left;
	font-size: 50px;
	margin-top: 10px;
}
.blog blockquote a:hover {
	font-weight: 400;
	margin-left: -0.5px;
}
/* #############    newsletter     ############# */
.newsletter {
	background-color: #4db94d;
	height: 250px;
}
/* #############    localização    ############# */
.mapa {
	margin-top: 50px;
}
/* #############      footer      ############# */
footer {
	background-color: #4db94d;
	height: 400px;
	border-top: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #fcc802 0%, #fdc801 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #a0ff9f 0%, #fcc802 100%);
    border-image-slice: 1;
    margin-top: -5px;
}