/*##################################### RESPONSIVO ##########################################*/
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1300px) {
	.minhaobra.top {
		background-size: auto 90%;
	}
}
@media only screen and (max-width: 1200px) {
	.top-topo {
		width: 78%;
	}
}
@media only screen and (max-width: 1100px) {
	footer div.container.ma,
	footer div.container.me {
		width: 50%;
		height: auto;
   		margin-bottom: 30px;
	}
	footer div.container.me {
		padding-top: 20px;
	}
	footer .local span {
	    background-image: url(../images/icon-local.png);
	}
	footer .fb-page {
		text-align: left;
	}
	footer form {
		float: left;
		width: 95%;
	}
	#menu ul li a {
		margin: 0 15px;
	}
}
@media only screen and (max-width: 1024px) {
	.minhaobra.top {
		background-position: 43% bottom;
		background-size: auto 68%;
	}
	.minhaobra.top .conteudo {
		background-size: auto 200px;
		background-position: 100px 20px;
	}
	#header {
		width: 100px;
		right: 20px;
		left: auto;
	}
	.top-topo {
		width: 100%;
		margin-top: -100px;
		float: left;
	}
	#topo {
		margin-bottom: -100px;
	}
	#topo a.logo {
		width: 100%;
		margin-bottom: 100px;
		text-align: left;
		padding-left: 40px;
	}
	#topo .conteudo {
		padding: 0;
	}
	.login-minhaobra {
		position: absolute;
		right: 0;
	}
}
@media only screen and (max-width: 900px) {
	.newsletter .conteudo {
		padding-left: 400px;
	}
	.newsletter form {
		padding-left: 160px;
	}
	.minhaobra.top .conteudo {
		background-size: auto 200px;
		background-position: 100px 20px;
	}
	.minhaobra.top .conteudo p {
		width: 70%;
		margin-top: 30px;
		margin-bottom: 400px;
	}
	.minhaobra.top {
		background-size: auto 60%;
	}
}
@media only screen and (max-width: 800px) {
	.newsletter .conteudo {
		background-image: none;
		padding-left: 0;
	}
	.minhaobra.top .conteudo {
		background-size: auto 200px;
		background-position: 30px 40px;
	}
	.top-topo {
		margin-top: -50px;
		float: left;
	}
	.top-topo {
		width: 100%;
		border: none;
		position: relative;
		margin-top: -100px;
	}
	#topo {
		margin-bottom: -50px;
	}
	.carrinho {
		width: 34%;
		margin: 10px 0 0 0;
		float: right;
	}
	.login-minhaobra {
		background-size: 40%;
		width: 100%;
		float: left;
		position: relative;
		height: 150px;
	}
	.login-minhaobra {
		background-position: 15% 25px;
		background-size: auto 70%;
		padding-left: 50%;
		background-image: url('../images/logo-minha-obra-mobile.png');
	}
	.login-minhaobra p {
		top: 25px;
		float: left;
		width: 180px;
		font-size: 25px;
		background-position: left 10px;
		text-align: left;
		padding-top: 35px;
	}
}
@media only screen and (max-width: 700px) {
	.minhaobra.top .conteudo p {
		width: 70%;
	}

	.minhaobra.top {
		background-size: auto 50%;
	}
}
@media only screen and (max-width: 600px) {
	footer div.container.ma,
	footer div.container.me {
		width: 100%;
	}
	footer form {
		float: left;
		width: 100%;
	}
	.minhaobra.top .conteudo p {
		width: 60%;
	}
	.minhaobra.top {
		background-size: auto 40%;
	}

	.carrinho, .top-topo form {
		margin-left: 20px;
	}
	.top-topo form {
		width: 50%;
	}
	#topo a.logo {
		margin-left: 0;
		padding-left: 10px;
	}
	#topo a.logo {
		margin-left: 0;
		padding-left: 10px;
	}
	#topo a.logo img {
		max-width: 200px;
	}
}
@media only screen and (max-width: 500px) {
	.login-minhaobra {
		background-position: 10% 25px;
		background-size: auto 60%;
		padding-left: 40%;
		height: 100px;
	}
	.login-minhaobra p {
		top: 20px;
		font-size: 16px;
	}
	.top-topo {
		margin-bottom: 20px;
		height: 120px;
		width: 95%;
	}
	.top-topo form {
		width: 80%;
	}
	.top-topo .carrinho {
		width: 80%;
		float: left;
		margin-top: 20px;
	}
}
@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 360px) {

}